*.txt
45*
*.zip
*.png
*.mtl
*.ogg
*.x
*.tx
*.t
*~
*.swp
*.swo
test
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vim
find
.
-size
+3M
./mnist_weight.txt
./obj/catch.tx
./.git/objects/pack/pack-c01c62c03a3bf84a896cc56c62837b5614a8587b.pack
./Texture.png
mnist_weight.txt
obj/catch.tx
Texture.png
mnist_weight.txt
obj/catch.tx
Texture.png
mnist_weight.txt
obj/catch.tx
Texture.png
mnist_weight.txt
obj/catch.tx
Texture.png
